<%- include('base/header')%>
<%- include('base/navigation')%>
    <div class="aboutus">
      <img class="aboutimage" src="images/aboutus.jpg" alt="aboutusimage" />
      <div class="about">
        <h3>About Us</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
          similique officiis quis quaerat odio fugiat unde corporis omnis.
          Mollitia excepturi quis culpa blanditiis? Repellat inventore
          distinctio adipisci. Vero, repellat aliquam. Mollitia excepturi quis
          culpa blanditiis? Repellat inventore distinctio adipisci. Vero,
          repellat aliquam.
        </p>
        <p>
          Mollitia excepturi quis culpa blanditiis? Repellat inventore
          distinctio adipisci. Vero, repellat aliquam. Mollitia excepturi quis
          culpa blanditiis? Repellat inventore distinctio adipisci. Vero,
          Vero, repellat aliquam. Mollitia excepturi quis
          culpa blanditiis.

        </p>
      </div>
    </div>
    <div class="storybox">
      <div class="story">
        <h3 class="pb-2 text-center">Our Story</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
          laboriosam quo error magnam temporibus animi quas enim ratione
          repudiandae, aut nisi similique vel illo doloremque aspernatur hic
          tenetur est? Sed?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
          laboriosam quo error magnam temporibus animi quas enim ratione
          repudiandae, aut nisi similique vel illo doloremque aspernatur hic
          tenetur est? Sed?
        </p>
      </div>
    </div>
    <div class=" work-content">
    <h3 class="text-center my-2">Work In Technology</h3>
    <section class="descriptions">
      <div class="detail">
        <h5 class="pb-2">App Development</h5>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem
          velit, officia alias, modi placeat libero ipsam numquam, harum atque
          expedita accusantium dignissimos blanditiis iure quam excepturi iusto
          corporis quia non.
        </p>
      </div>

      <div class="detail">
        <h5 class="pb-2">Web Development</h5>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem
          velit, officia alias, modi placeat libero ipsam numquam, harum atque
          expedita accusantium dignissimos blanditiis iure quam excepturi iusto
          corporis quia non.
        </p>
      </div>
      <div class="detail">
        <h5 class="pb-2">App Development</h5>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem
          velit, officia alias, modi placeat libero ipsam numquam, harum atque
          expedita accusantium dignissimos blanditiis iure quam excepturi iusto
          corporis quia non.
        </p>
      </div>
    </section>
    </div>
   <%- include('base/footer')%>
