<%- include('base/header')%>
  <a href="/">
    <h2 class="brand-name-login">
      <small class="brand-text">E</small>mplo<small class="brand-text">Y</small>ee
    </h2>
  </a>
  <div class="row login-content">
    <div class="col-md-4 login-right">
      <h3 class="login-right-title">Welcome Back !</h3>
      <p class="login-text">
        To Keep Connect with us phone login with your personal info
      </p>
      <a href="/login" class="login-btn login-right-btn">SIGN IN</a>
    </div>
    <div class="col-md-8 login-left">
      <h2 class="login-title">Change Password</h2>
      
      <form action="/changepassword" method="POST">
        <div class="row">
          <div class="col-md-12">
            <input type="email" name="email" onchange="hasEmail()" class="fa form-input" placeholder=" &#xf0e0;  Email"
            value='<%=emailid%>' readonly="true"  />
          </div>

         <div class="col-md-12">
           <input type="password" name="password" class="fa form-input" placeholder=" &#xf023; New Password " />
           <div class="form-text text-danger"></div>
        </div>
         <div class="col-md-12">
           <input type="password" name="cpassword" class="fa form-input" placeholder=" &#xf023; Re-type Password " />
           <% if(error){ %>
             <div class="form-text text-danger"><%=error.param='password'?error.msg:''%></div>    
           <% } %>
           <div class="form-text text-danger"></div>
         </div>
        </div>
        
        <input type="submit" class="login-btn" value="Change" />
      </form>
    </div>
  </div>
  <script>
    //   Check Email Id exist or not
 function hasEmail(){
      var xhttp = new XMLHttpRequest();
      let getEmail=document.getElementsByName('email')[0].value
     
       xhttp.open("GET", "/changepassword/hasEmail/"+getEmail, true);
             xhttp.onreadystatechange = function () {
                      
            if (this.readyState == 4 && this.status == 200) {
            
                if(this.responseText==0){
                  document.getElementsByClassName('form-text')[0].innerHTML='Email Id Not Exist'
                }else{
                document.getElementsByClassName('form-text')[0].innerHTML=''
                }
               }
            }
            xhttp.send();
}
  </script>
 
</body>

</html>
