 <nav class="navigation">
     <h2 class="brand-name"><small class="brand-text">E</small>mplo<small class="brand-text">Y</small>ee</h2>
     <ul class="list">
        <li><a class="item" href="/about"> About us</a></li>
        <li><a class="item" href="/login"> Login</a></li>
        <li><a class="item" href="/task">Task</a></li>
        <li><a class="item" href="/project">Project</a></li>
      </ul>
    </nav>