<%- include('header')%>
  <div class="row mx-0">

    <div class="col-md-3 task-login-left pt-0">
      <img src="https://joeschmoe.io/api/v1/<%=sess%>+li" alt="profile image" class="profile-img">
      <h4 class="profile-name">Welcome <%=sess%></h4>
      <hr>
      <div class=".task-login-left-content">
        <h5>Task</h5>
        <a href="/task">My Task</span></a>
        <a href="/task/history">Task History</a>
        <h5>Projects</h5>
        <a href="/project">Add Projects</a>
        <a href="/project/activeproject">Active Projects</a>
        <a href="/project/deactiveproject">Deactive Projects</a>
        <a href="/projectsnap">View Snap</a>
        <a href="/sendmail">Send Mail</a>
        
      </div>
    </div>
    <!-- https://joeschmoe.io/api/v1/female/random -->